#navbarResponsive{
    word-spacing: .25rem;
}

#navbarResponsive > ul > li {
    margin: 0 .25rem;
}

.navbar img{
    height: var(--height-header-img);
}

#navbarResponsive .nav-links{
    margin: 0!important;
}

@media (max-width: 576px) {
    .navbar img{
        height: calc( var(--height-header-img) - 1.125em);
    }
}

@media (max-width: 320px) {
    .navbar img{
        height: calc( var(--height-header-img) - 1.75em);
    }
}