@media (max-width: 991.98px) {
    #slides>.upper-layer>.payload {
        transform: translateY(3rem);
    }
    #slides > .upper-layer {
        font-size: .5rem;
    }
}

.full-height {
    height: calc(100vh - var(--height-header-img) - 2.4rem);
    min-height: initial;
}


.upper-layer {
    position: absolute;
    background-color: var(--color-slides);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slides>.upper-layer>.payload>.logos>* {
    margin: .5em;
}

#slides>.upper-layer img {
    max-height: 13em;
}

#slides>.upper-layer>.payload>.text>* {
    margin: 1em;
}

#slides h3,
#slides h6 {
    background-color: var(--fourth-color-opacity-c0);
}

#slides>.upper-layer img {
    opacity: 0.75;
}

.omb-logo{
    border-radius: .5em;
}

/* #slides h3 {
    margin-left: 0 !important;
    font-size: 2em;
}

#slides h6 {
    font-size: 1.125em;
} */