.navbar-brand img{
    height: 4em;
}

.sect{
    height: 100vh;
}

.sect:nth-child(2n){
    background-color: antiquewhite;
}

.sect:nth-child(2n+1){
    background-color: blueviolet;
}
/* 
.carousel-inner, .carousel{
    height: 100vh;
} */

.carousel-inner img{
    /* transform: translateY(-30%); */
    height: 100%;
    max-height: 100vh;
} 
/* 
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    text-shadow: 1px 1px 10px black;
} */

.text-block > *{
    margin:.5em;
}