@import url("./edit_color.css") all;

@import url("./sect-style/slides.css") all;
@import url("./sect-style/nav.css") all;
@import url("./sect-style/become-member-forum.css") all;
@import url("./sect-style/about-forum.css") all;

@font-face{
    font-family: "MK-90";
    src: url("../fonts/MK-90.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h4{
    --margin: 1.5em;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

body{
    color: var(--first-color);
    word-spacing: 1.25em;
    font-family: "MK-90";
    --height-header-img: 3em;
}

body > div{
    min-height: 100vh;
} 

.sect > .container {
    --margin: 2em;
    margin-top: calc(var(--margin) * 2);
    margin-bottom: var(--margin);
}

.sect:nth-child(2n+1){
    background-color: var(--second-color);
}

.sect:nth-child(2n){
    background-color: var(--third-color);
} 

.text-block > *{
    margin:.75em;
}